.Header{
    background-color: rgb(9, 46, 78);
    width: 100%
  }
  .NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  nav a {
    text-decoration: none;
    text-align: center;
    padding: 1em;
    color: white
  }
  nav a.active{
    background-color: rgb(30, 148, 39);
    padding: 1em 3em 1em 3em;
    color:rgb(9, 46, 78)
  }